<!-- Main wrapper -->
<div class="wrapper">

	<!-- Left sidebar -->
    <div class="sidebar">

        <a href="index.html" title="" class="logo"><img src="images/logo-arbee.jpg" style="width: 200px;" alt="" /></a>

        <ul class="navigation"><!-- standard nav -->
            <li class="active"><a href="index.html" title=""><img src="images/icons/mainnav/dashboard.png" alt="" />Dashboard</a></li>
            <li><a href="#" title="" class="expand"><img src="images/icons/mainnav/components.png" alt="" />Branches<strong>7</strong></a>
                <ul>
                    <li><a href="#" title="">Branch 1</a></li>
                    <li><a href="#" title="">Branch 2</a></li>
                    <li><a href="#" title="">Branch 3</a></li>
                    <li><a href="#" title="">Branch 4</a></li>
                    <li><a href="#" title="">Branch 5</a></li>
                    <li><a href="#" title="">Branch 6</a></li>
                    <li><a href="#" title="">Branch 7</a></li>
                </ul>
            </li>
            <li><a href="#" title="" class="expand"><img src="images/icons/mainnav/file-manipulations.png" alt="" />Inventory<strong>7</strong></a>
                <ul>
                    <li><a href="#" title="">Branch 1</a></li>
                    <li><a href="#" title="">Branch 2</a></li>
                    <li><a href="#" title="">Branch 3</a></li>
                    <li><a href="#" title="">Branch 4</a></li>
                    <li><a href="#" title="">Branch 5</a></li>
                    <li><a href="#" title="">Branch 6</a></li>
                    <li><a href="#" title="">Branch 7</a></li>
                </ul>
            </li>
            <li><a href="#" title="" class="expand"><img src="images/icons/mainnav/form-elements.png" alt="" />Forms<strong>3</strong></a>
                <ul>
                    <li><a href="pre-inventory-form.html" title="">Pre-inventory form</a></li>
                    <li><a href="#" title="">Raw materials form</a></li>
                    <li><a href="#" title="">Production form</a></li>
                </ul>
            </li>
            <li><a href="#" title="" class="expand"><img src="images/icons/mainnav/page-layouts.png" alt="" />Users<strong>7</strong></a>
                <ul>
                    <li><a href="#" title="">Branch 1</a></li>
                    <li><a href="#" title="">Branch 2</a></li>
                    <li><a href="#" title="">Branch 3</a></li>
                    <li><a href="#" title="">Branch 4</a></li>
                    <li><a href="#" title="">Branch 5</a></li>
                    <li><a href="#" title="">Branch 6</a></li>
                    <li><a href="#" title="">Branch 7</a></li>
                </ul>
            </li>
        </ul><!-- /standard nav -->
    </div>
    <!-- /left sidebar -->


    <!-- Main content -->
    <div class="content">

        <div class="page-header"><!-- Page header -->
            <h5><i class="font-home"></i>Dashboard</h5>
            <ul class="topnav">
                <li class="topuser">
                    <a title="" data-toggle="dropdown"><img src="images/user.png" alt="" /><span>Branch 1 user</span><i class="caret"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" title=""><span class="user-profile"></span>My profile</a></li>
                        <li><a href="#" title=""><span class="user-stats"></span>Statistics <strong>2</strong></a></li>
                        <li><a href="#" title=""><span class="user-settings"></span>Switch user</a></li>
                        <li><a href="#" title=""><span class="user-logout"></span>Logout</a></li>
                    </ul>
                </li>
                <li><a href="#" title=""><b class="settings"></b></a></li>
                <li class="search">
                    <a title=""><b class="search"></b></a>
                    <form class="top-search" action="#">
                        <input type="text" placeholder="Search..." />
                        <input type="submit" value="" />
                    </form>
                </li>
                <li class="sidebar-button"><a href="#" title=""><b class="responsive-nav"></b></a></li>
                <li><a href="#" title=""><b class="logout"></b></a></li>
            </ul>
        </div><!-- /page header -->

        <!-- Info notice -->
        <div class="notice">
            <div class="note note-info">
                <button type="button" class="close">×</button>
                <strong>Update!</strong> Branch 1 added new raw materials in the inventory.
            </div>
        </div>
        <!-- /info notice -->

        <div class="body">

            <!-- Middle navigation standard -->
            <ul class="midnav">
                <li><a href="#" title="Pre-inventory form"><img src="images/icons/color/billing.png" alt="" /><span>Pre-inventory<br />form</span></a></li>
                <li><a href="#" title="Add new materials"><img src="images/icons/color/order-149.png" alt="" /><span>Add new raw<br />materials</span></a></li>
                <li><a href="#" title="Update materials"><img src="images/icons/color/issue.png" alt="" /><span>Update<br />raw materials</span></a></li>
            </ul>
            <!-- /middle navigation standard -->

            <!-- Content container -->
            <div class="container">

                <!-- Default datatable -->
                <div class="block well">
                  <div class="navbar">
                      <div class="navbar-inner">
                          <h5>Most sold product</h5>
                        </div>
                    </div>
                    <div class="table-overflow">
                        <table class="table table-striped" id="data-table">
                            <thead>
                                <tr>
                                    <th style="width: 50px;">#</th>
                                    <th>Branch</th>
                                    <th>Product</th>
                                    <th style="width: 200px;">Amount sold</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Branch 1</td>
                                    <td>material</td>
                                    <td>amount</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Branch 2</td>
                                    <td>material</td>
                                    <td>amount</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Branch 3</td>
                                    <td>material</td>
                                    <td>amount</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Branch 4</td>
                                    <td>material</td>
                                    <td>amount</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Branch 5</td>
                                    <td>material</td>
                                    <td>amount</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Branch 6</td>
                                    <td>material</td>
                                    <td>amount</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Branch 7</td>
                                    <td>material</td>
                                    <td>amount</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Branch 8</td>
                                    <td>material</td>
                                    <td>amount</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Branch 9</td>
                                    <td>material</td>
                                    <td>amount</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /default datatable -->

            </div>
            <!-- /content container -->

        </div>
    </div>
    <!-- /main content -->

</div>
<!-- /main wrapper -->